*:not(input[type=number])
{
    transition: 1s;
}

body {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    background: #C5E4E7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin: 50px 0 40px;
}

.calculator {
    background-color: white;
    box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
    border-radius: 25px;
    width: 100%;
    max-width: 920px;
    height: auto;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* ---------------- INPUT PART -------------- */


.bill_txt, .tip_text, .people_txt {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #5E7A7D;
}

.tip_text {
    margin-top: 32px;
}

.error {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #E17457;
    display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input_bill, .input_people {
    width: 100%;
    height: 48px;
    background: #F3F9FA;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: right;
    color: #00474B;
    mix-blend-mode: normal;
    font-family: 'Space Mono', monospace;
    padding: 0 17.5px 0 19.26px;
    box-sizing: border-box;
    margin-top: 6px;
    background-image: url(../images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: left 19.26px top 50%;
}

.input_bill:hover, .input_people:hover {
    outline: 2px solid #26C2AE;
    cursor: pointer;
}

.input_bill::-webkit-input-placeholder, .input_people::-webkit-input-placeholder {
    opacity: 0.35;
}

.input_bill::-moz-placeholder, .input_people::-moz-placeholder { /* for FireFox */
    opacity: 0.35;
}

.input_bill:-ms-input-placeholder, .input_people:-ms-input-placeholder { /* for Safari and Opera */
    opacity: 0.35;
}

.input_bill::placeholder, .input_people::placeholder { /* for Internet Explorer */
    opacity: 0.35;
}

.input_bill:focus, .custom:focus, .input_people:focus {
    outline: 2px solid #26C2AE;
}


.bill_info {
    display: flex;
    justify-content: space-between;
}

.button_grid {
    display: grid;
    grid-template-rows: repeat(3, 48px);
    grid-template-columns: 1fr minmax(0, 1fr);
    row-gap: 16px;
    column-gap: 16.56px;
    margin-top: 16px;
}

.tip_button {
    background: #00474B;
    border-radius: 5px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    font-family: 'Space Mono', monospace;
    transition: 0.5s;
    border: none;
}

.tip_button:hover {
    background: #9FE8DF;
    cursor: pointer;
    transition: 0.5s;
}

.custom {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: right;
    color: #547878;
    padding-right: 17.3px;
    border-radius: 5px;
    font-family: 'Space Mono', monospace;
    border: none;
}

.custom:hover {
    outline: 2px solid #26C2AE;
    cursor: pointer;
}

.people {
    margin-top: 32px;
}

.people_info {
    display: flex;
    justify-content: space-between;
}

.input_people {
    background-image: url(../images/icon-person.svg);
}


/* ---------------- INPUT PART -------------- */

.output_part {
    padding: 37px 22px 24px 24px;
    background: #00474B;
    border-radius: 15px;
}

.tip_amount, .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tip_amount h2, .total h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.tip_amount p, .total p {
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    color: #7F9D9F;
}

.total {
    margin-top: 25px;
}

.dollar {
    font-weight: 700;
    font-size: 32px;
    line-height: 47px;
    letter-spacing: -0.666667px;
    color: #26C2AE;
}

.reset {
    width: 100%;
    height: 48px;
    background: #0D686D;
    border-radius: 5px;
    margin-top: 35px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #00474B;
    border: none;
    transition: 0.5s;
}

.reset:hover {
    background: #9FE8DF;
    cursor: pointer;
    transition: 0.5s;
}



@media (min-width: 920px) {
    .logo {
        margin-top: 163px;
    }

    .input_part {
        margin-top: 13px;
        max-width: 379px;
    }

    .calculator {
        margin-top: 87px;
        flex-direction: row;
        padding: 32px 32px 32px 48px;
        justify-content: space-between;
    }

    .tip_info {
        margin-top: 40px;
    }

    .button_grid {
        grid-template-columns: 1fr 1fr minmax(0, 1fr);
        column-gap: 14px;
        grid-template-rows: 48px 48px;
    }

    .people {
        margin-top: 40px;
    }

    
    .output_part {
        width: 413px;
        padding: 40px 40px 40px 40px;
    }

    .dollar {
        font-size: 48px;
        line-height: 71px;
        letter-spacing: -1px;
    }

    .reset {
        margin-top: 122px;
    }
}